<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div *ngIf="isIOS">
      <ion-button (click)="openAppleMap()" >Open Pin (Apple Maps)</ion-button>
      <ion-button (click)="openAppleMapDirections()">Open Directions (Apple Maps)</ion-button>
    </div>
    <div>
      <ion-button (click)="openGoogleMap()">Open Pin (Google Maps)</ion-button>
      <ion-button (click)="openGoogleMapDirections()">Open Directions (Google Maps)</ion-button>
    </div>
  </div>
</ion-content>
